<body class="waiting">
  <div class="row">
    <div class="col-md-8">
      <div class="infos-match">
        <span class="ml2 tournament-name">Moeckern Masters League #13</span>
        <span class="round">Demi-Finale</span>
        <div class="teams">
          <div class="row">
            <div class="col-md-5 team1">
              <img src="/static/images/megastitut.png">
              <span>Megastitut</span>
            </div>
            <div class="col-md-2 score">
              <span class="score1 avantage">1</span>
              <span class="score2">0</span>
            </div>
            <div class="col-md-5 team2">
              <img src="/static/images/zinzin.png">
              <span>Les Zinzins de l'espace</span>
            </div>
          </div>
        </div>
      </div>
      <div class="logo-tournoi">
        <img src="/static/images/moeckern.png">
      </div>
    </div>
    <div class="col-md-4">
      <div class="maps">
        <div class="container">
          <div class="row map">
            <div class="col-md-1 offset-md-5 score1 avantage">13</div>
            <div class="col-md-3">
              <img src="/static/images/Split.jpg">
              <span>Split</span>
            </div>
            <div class="col-md-1 score2">8</div>

            <div class="col-md-1 offset-md-5 score1 avantage">0</div>
            <div class="col-md-3">
              <img src="/static/images/unknown.png">
              <span>?</span>
            </div>
            <div class="col-md-1 score2">0</div>

            <div class="col-md-1 offset-md-5 score1 avantage">0</div>
            <div class="col-md-3">
              <img src="/static/images/unknown.png">
              <span>?</span>
            </div>
            <div class="col-md-1 score2">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
